// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid $border-color;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;
  display: flex;
  justify-content: space-between;
  align-item: flex-end;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;

    ul {
      list-style: none;
      display: inline-block;

      li {
        display: inline-block;
        padding-left: 1rem;
      }
    }
  }
}
