// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  padding: 1rem 1.5rem 0;

  li + li {
    margin-top: .25rem;
  }
}

.posts-listing {
  .post {
    border-bottom: 1px solid $border-color;
    width: auto;

    &:hover,
    &:focus {
      background-color: $gray-1;
      border-bottom: 1px solid $link-color;
    }
  }

  // .posts-listing-item:last-child {
  //   .post {
  //     border-bottom: 0;
  //   }
  // }

  a {
    color: $body-color;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: $gray-5;
}

.page-title,
.post-title {
  margin-top: 0;
}

// Meta data line below post title
.post-date {
  color: $gray-6;
  display: block;
  margin-bottom: 1rem;
  margin-top: -.5rem;
}


// Related posts
.related {
  border-top: 1px solid $border-color;
  margin-bottom: 2rem;
}

.related-posts {
  list-style: none;
  padding-left: 0;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      color: $gray-6;
      font-size: 75%;
    }
  }
}
